.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.forest-parallax {
    /* The image used */
    background-image: linear-gradient(rgba(0, 10, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./assets/images/forest.jpg");

    /* Set a specific height */
    min-height: 100vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.clickable{
  cursor: pointer;
}

.region-card{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #006500;
  color: white;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}